.body-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    object-fit:cover;
    background:  0% 0% / cover no-repeat #ECF9FF;
    justify-content: space-around;
}
