/* Navbar.css */
@keyframes navbar {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #3f8406, 0 0 40px #7d9125, 0 0 50px #c6aa10, 0 0 60px #51bf0c;
  }
  
  to {
    box-shadow: 0 0 20px #fff, 0 0 30px darkgreen;
  }
}
.navbar {
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
    background:  0% 0% / cover no-repeat rgb(208, 234, 243);
    padding: 10px 20px;
    margin: 0%;
    height: 80px;
    animation: navbar 1s ease-in-out infinite alternate;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li {
    padding: 0;
    margin: 0;
  }
  
  .nav-links a {
    display: flex;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    align-items: center;
  }
  html, body {
    height: 100%;
  }
  .navbar:hover { 
    background-color: #fed351;
 color: #fff;
  box-shadow:         0px 0px 16px 4px #5863dd !important;
}
  /* Add additional styles for customization as needed */
  